body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #e9ebee !important;
}

.navbar-default {
    background: #000 !important;
}

.main-background {
    width: 100%;
    height: 650px;
    position: relative;
    background-image: url("./images/storm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title {
    position: absolute;
    top: 40%;
    left: 25%;
    color: #fff;
    text-shadow: #5e3c32 5px 5px 20px;
}

.fa {
    margin: 10px 10px;
}

.fa-4x {
    position: absolute;
    bottom: 5%;
    left: 50%;
    color: #fff;
}
